@font-face {
    font-family: SourceSansPro-Regular;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: Dosis-VariableFont_wght;
    src:url(../fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

.whiteText {
    color: white;
    text-align: center;
}

h1 {
    font-family: Dosis-VariableFont_wght;
    opacity: 100%;
}

h4 {
    font-family: Dosis-VariableFont_wght;
}

p {
    font-family: SourceSansPro-Regular;
}

.hero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../hotelMarkupAssets/header.jpg);
    height: 35em;
}
.hero-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 3, 36, 0.8);
    height: 13em;
    width: 47em;
}
.luxury {
    color: #E5FEFF;
    opacity: 100%;
}

.packageImg {
    width: 561px;
    height: 234;
    height: 234px;

}

.packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.package {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.package2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.nav {
    background-color: #000324;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
    font-family: Dosis-VariableFont_wght;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    height: 35em;
    padding-left: 7em;
    padding-right: 7em;
}

.rooms {
    background-image: url(../hotelMarkupAssets/bg2.jpg);
}

h2 {
    text-align: center;
    padding: 1em;
    font-family: Dosis-VariableFont_wght;
}

h5{
    font-family: Dosis-VariableFont_wght;
}

h6{
    font-family: SourceSansPro-Bold;
}

.rooms-heading {
    color: white;
    text-align: center;
}

.card-body {
    height: 18em;
}

.blue {
    color: #000324;
}

.amenities {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../hotelMarkupAssets/bg.jpg);
}

.amText {
    color: #FFFFFF;
    font-family: SourceSansPro-Bold;
    padding-top: 1.5em;
}

.amenity {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.amIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    text-align: center;
}

.welcome {
    display: flex;
    justify-content: center;
}

.awards {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding-top: 5em;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #000324;
    color: #E5FEFF;
    text-align: center;
}

.reserve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #000324;
    color: #FFFFFF;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reserveRoom{
    display: flex;
    justify-content: center;
    text-align: center;
}

.padding-top{
    padding-top: 5em;
}

.price{
    color: #1F51A8;
}

.btn{
    font-family: SourceSansPro-Bold;
    font-size: 0.8em;
    margin-top: 1em;
}

.reserveImg{
    padding-top: 1.5em;
}